#menu {
    position: relative;
    display: flex;
    flex-flow: column;
    background: var(--main-maindark-color);
    padding: 1rem;
    gap: 1rem;
    box-sizing: border-box;
    align-items: center;
}

#menu p {
    color: var(--main-blue-color);
    font-size: 1.5rem;
}

.menu-toggles {
    position: relative;
    display: flex;
    gap: .5rem;
}

.menu-toggle {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    border: 1px solid var(--main-blue-color);
    font-size: .7rem;
    padding: 0.2rem .5rem;
    border-radius: 3px;
    user-select: none;
}

.game-modes {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: .5rem;
}

.game-mode {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: .5rem;
    background: var(--main-main-color);
    border-radius: 5px;
    user-select: none;
}


#help-info {
    position: absolute;
    display: none;
    z-index: 1;
    left: 100%;
    width: 30rem;
    background: var(--main-blue-color);
    color: var(--main-maindark-color);
    padding: 1rem;
    padding-left: 2rem;
    margin-left: 1rem;
    border-radius: 5px;
}

.scores {
    display: flex;
}

.score {
    margin: 0 .5rem;
}

.scores span {
    margin: 0 0.5rem;
}

#score-total {
    font-size: 1.5rem;
}

#darts {
    position: relative;
    margin-top: auto;
    display: flex;
}

.dart {
    height: 8rem;
    width: 3rem;
    margin: 0 .5rem;
    background: url("../images/darts/dart.png") no-repeat center center;
    background-size: contain;
}

#restart {
    background-color: var(--main-blue-color);
    color: var(--main-maindark-color);
    width: 100%;
    border-radius: 5px;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}

#playzone {
    flex: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

#game-status {
    position: relative;
    margin: 1rem auto;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
}

#dartboard {
    background: url("../images/darts/dartboard.png") no-repeat center center;
    background-size: contain;
    width: 35rem;
    height: 35rem;
    margin: auto;
    position: relative;
}

.flying-dart {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 15rem;
    width: 15rem;
    background: url("../images/darts/dart_1.png") no-repeat center center;
    background-size: contain;
    display: none;
}

#cursor {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    height: 15rem;
    width: 15rem;
    background: url("../images/darts/dart_0.png") no-repeat center center;
    background-size: contain;
    pointer-events: none;
}