@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --main-blue-color: rgb(0, 224, 254);
    --main-grey-color: rgb(192, 192, 192);
    --main-grey-blue-color: rgb(162, 170, 202);
    --main-main-color: rgb(23, 30, 44);
    --main-maindark-color: rgb(14, 19, 27);
    --main-green-color: rgb(1, 242, 2);
    --main-red-color: rgb(187, 28, 49);
}

body{
    overflow: auto;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    background: var(--main-main-color);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

section{
    flex: 1 0 auto;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

input{
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
}

.back-top{
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: .7rem;
    box-sizing: border-box;
    background: var(--main-maindark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    fill: var(--main-blue-color);
    border-radius: 10px;
    border: 2px solid var(--main-blue-color);
    box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.6);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.back-top.active{
    opacity: 1;
    visibility: visible;
}

.disable-select{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.login-demand{
    position: relative;
    width: 100%;
    height: 2rem;
    background: var(--main-red-color);
    border-radius: 5px;
    margin-bottom: 2rem;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

mark{
    background: none;
    color: var(--main-blue-color);
}

.disable-pointer{
    pointer-events: none;
}

@media screen and (max-width: 450px) {

    .back-top.active{
        display: none;
    }

}