*,
html,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

:root {
    --main-blue-color: rgb(0, 224, 254);
    --main-grey-color: rgb(192, 192, 192);
    --main-grey-blue-color: rgb(162, 170, 202);
    --main-main-color: rgb(23, 30, 44);
    --main-maindark-color: rgb(14, 19, 27);
    --main-green-color: rgb(1, 242, 2);
    --main-red-color: rgb(187, 28, 49);
}

body {
    font-family: 'Manrope', sans-serif;
    color: white;
    background: var(--main-main-color);
}

section {
    display: flex;
    height: 100%;
    background: var(--main-main-color);
}